<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <header>
      <h1>Secret club</h1>
      <div>
        <% if(!userObj.membership) { %>
        <a href="join-club">Join the club</a>
        <% } %> <% if(userObj.membership && !userObj.admin) { %>
        <a href="admin">Admin</a>
        <% } %>
        <a href="logout">Log out</a>
      </div>
    </header>

    <section>
      <p>Hello, <%= userObj.first_name %>!</p>
      <a href="new-message">Create a new message</a>
    </section>

    <main>
      <% if(userObj.membership) { %> <% users.forEach(user => { %> <%
      if(user.title !== null && user.text !== null) { %>
      <p>
        Posted by <strong><%= user.first_name %></strong> at
        <i
          ><%= new Date(user.timestamp).toLocaleString('en-US', {
          dateStyle:'medium', timeStyle: 'short' }) %>
        </i>
      </p>

      <h3><%= user.title %></h3>
      <p><%= user.text %></p>
      <hr />
      <% } %> <% }) %> <% } else { %> <% users.forEach(user => { %> <%
      if(user.title !== null && user.text !== null) { %>
      <p>
        Posted by <strong>anonymous</strong> at
        <i>##### </i>
      </p>

      <h3><%= user.title %></h3>
      <p><%= user.text %></p>
      <hr />
      <% } %> <% }) %> <% } %>
    </main>

    <section>
      <% if(userObj.membership && userObj.admin) { %>
      <p>You are a club admin.</p>
      <% } else if(userObj.membership && !userObj.admin) { %>
      <p>You are a club member.</p>
      <% } else { %>
      <p>
        <a href="join-club">Join the club</a> to see the authors and posting
        time.
      </p>
      <% } %>
    </section>
  </body>
</html>
